<html ng-app="app">

  <head>
      <title>Educational Games Portal</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
      <link rel="stylesheet" href="css/jumbotron-narrow.css">
      <link href="http://cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  </head>

  <body ng-controller="appController as controller" id="appController">
    <div class="container">
      <div class="header clearfix">
        <nav>

          <ul class="nav nav-pills pull-right">
            <li role="presentation" ng-class='{active: currentTab == "home"}'><a href="#" ng-click="currentTab = 'home'">Home</a></li>
            <li role="presentation" ng-class='{active: currentTab == "about"}'><a href="#" ng-click="currentTab = 'about'">About</a></li>
          </ul>

          <div class="nav nav-pulls pull-right" style="margin-right: 20px;">
            Grade:
              <input type="text" size="3" ng-model="gradeFilter" ng-change="controller.filterGames()">
              <br />

            Platform: <select ng-model="platformFilter" ng-change="controller.filterGames()">
              <option ng-repeat="platform in platforms">{{platform}}</option>
            </select>
          </div>

          <div class="nav nav-pulls pull-right" style="margin-right: 20px;">
            Search: <input type="text" ng-model="search" ng-change="controller.filterGames()" />
          </div>
        </nav>
        <h3 class="text-muted">EduGames</h3>
      </div>

      <div id="homeTab" ng-show="currentTab == 'home'">
        <div ng-show="selectedGame == null">
          <div class="jumbotron">
            <h1 ng-click="controller.selectGame(games[0])">{{games[0].name}}</h1>
            <img class="img-responsive" ng-src="images/{{games[0].titleImage}}" width="550" height="400" ng-click="controller.selectGame(games[0])" />
            <p class="lead">{{games[0].description}} [<a href="#" ng-click="controller.selectGame(games[0])">Details</a>]</p>
          </div>

          <div class="row marketing">
            <div class="col-lg-6">
              <div ng-repeat="game in games | filter: colFilter(0)">
                <h4 ng-click="controller.selectGame(game)">{{game.name}}</h4>
                <img class="img-responsive" ng-src="images/{{game.titleImage}}" width="225" height="200" ng-click="controller.selectGame(game)"/>
                <p>{{game.description}} [<a href="#" ng-click="controller.selectGame(game)">Details</a>]</h4></p>
              </div>
            </div>

            <div class="col-lg-6">
              <div ng-repeat="game in games | filter: colFilter(1)">
                <h4 ng-click="controller.selectGame(game)">{{game.name}}</h4>
                <img class="img-responsive" ng-src="images/{{game.titleImage}}" width="225" height="200" ng-click="controller.selectGame(game)" />
                <p>{{game.description}} [<a href="#" ng-click="controller.selectGame(game)">Details</a>]</h4></p>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="selectedGame != null" class="col-lg-12">
          <h1>{{selectedGame.name}}</h1>
          <img class="img-responsive" ng-src="images/{{selectedGame.titleImage}}" width="550" height="400" />

          <h2><a href="{{selectedGame.url}}">Play Now</a></h2>

          <div ng-show="selectedGame.screenshots.length > 0">
            <h2>Images</h2>
            <div class="row">
                <div class="col-lg-12">
                <p>Click on an image to view a bigger version</p>
                <a ng-repeat="screenshot in selectedGame.screenshots" href="#">
                  <img
                    class="img-responsive"
                    ng-src="images/{{screenshot}}"
                    data-featherlight="#lightbox"
                    data-featherlight-before-close="angular.element(document.getElementById('appController')).scope().controller.selectImage(null)"
                    ng-click="controller.selectImage(screenshot)"
                    width="320" height="232" style="float: left;" />
                </a>
              </div>
            </div>
          </div>

          <div ng-show="selectedGame.videos.length > 0">
            <h2>Videos</h2>
            <div class="row">
                <div class="col-lg-12">
                  <p>Click to open in a new tab</p>
                  <a ng-repeat="video in selectedGame.videos" href="{{video.url}}" target="_blank">
                    <img
                      class="img-responsive"
                      ng-src="images/{{video.image}}" width="480" height="350" />
                  </a>
              </div>
            </div>
          </div>

          <h2>Description</h2>
          <p>{{selectedGame.description}}</p>
          <ul>
            <li><strong><a href="{{selectedGame.url}}">Game Website</a></strong></li>
            <li ng-show="selectedGame.educatorsGuide != null"><a href="{{selectedGame.educatorsGuide}}">Parents/Educators Guide</a></li>
            <li>Platforms: <span ng-repeat="platform in selectedGame.platforms | orderBy: platform">{{platform}}&nbsp;</span></li>
            <li>Suitable for grades {{selectedGame.grades}}</li>
          </ul>
          <p>[<a href="#" ng-click="controller.selectNone()">Back</a>]</p>
        </div>

      </div>

      <div ng-show="currentTab == 'about'">
        <p>This portal connects you to freely available educational games. It grew out of a need to find (and create my own) educational games for my kids. While there is no "Kongregate" style portal listing games (most of them seem to be paid products), I decided to create a collection of whatever's freely available.</p>
        <p>Browse the list of games based on age. If you're interested in knowing the educational value, check out the links to the educator's guides for each game (if available).</p>
        <p>Educational gaming is right now (circa 2015) a newly re-emerging industry. The industry now knows that games can develop and evaluate sound, 21st-century skills (sometimes things that are difficult or impossible to teach in classic education).</p>
        <p>In fact, it can go as far as to claim (rightfully) that there is deep learning in mainstream games like World of Warcraft and Minecraft. This site isn't about finding the learning in games; it's about games that are built *for* learning.</p>
        <p>Not convinced? For more information, check out these awesome classes from MIT (edX):</p>
        <ul>
          <li><a href="https://www.edx.org/course/introduction-game-design-mitx-11-126x">Introduction to Game Design</a>: the fundamentals of creating solid, fun games. Necessary to make non-boring educational games.</li>
          <li><a href="https://www.edx.org/course/design-development-games-learning-mitx-11-127x">Design and Development of Games for Learning</a>: building on the concepts of the above course, an overview of what education in games means and how to create awesome educational games.</li>
          <li><a href="https://www.edx.org/course/implementation-evaluation-educational-mitx-11-133x">Implementation and Evaluation of Educational Technology</a>: how to best integrate educational technology into your class or learning environment.</li>
      </ul>
    </div>

      <div id="lightbox" ng-show="selectedImage != null">
        <p>img: {{selectedImage}}</p>
        <img ng-src="images/{{selectedImage}}" />
      </div>

      <footer class="footer">
        <p>Copyright &copy; Ashiq Alibhai, 2015. All games are under copyright of their respective owners.</p>
      </footer>

    </div> <!-- /container -->

    <!-- bootstrap and jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- angular and app -->
    <script src="lib/angular-1.4.7.js"></script>
    <script type='text/javascript'>
      var app = angular.module('app', []);
    </script>
    <script src="src/app.js"></script>
    <script src="src/gamesRepository.js"></script>

    <script src="http://cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  </body>

</html>
